In [1]:
import pyarrow.parquet as pq
import pandas as pd
from time import time

In [2]:
pq.read_metadata('yellow_tripdata_2024-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x11b474b30>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 2964624
  num_row_groups: 3
  format_version: 2.6
  serialized_size: 6357

In [3]:
file = pq.ParquetFile('yellow_tripdata_2024-01.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [7]:
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [11]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [14]:
batches_iterator = file.iter_batches(batch_size=100000)
batches_iterator

In [15]:
df1 = next(batches_iterator).to_pandas()
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1,1.72,1,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1,1.80,1,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1,4.70,1,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1,1.40,1,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1,0.80,1,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2024-01-02 13:34:18,2024-01-02 13:38:13,1,0.70,1,N,263,75,1,5.8,2.5,0.5,2.00,0.0,1.0,11.80,2.5,0.0
99996,1,2024-01-02 13:47:42,2024-01-02 13:59:26,1,1.70,1,N,236,238,1,11.4,2.5,0.5,4.60,0.0,1.0,20.00,2.5,0.0
99997,2,2024-01-02 13:23:51,2024-01-02 13:36:29,1,1.87,1,N,236,162,1,12.8,0.0,0.5,3.36,0.0,1.0,20.16,2.5,0.0
99998,2,2024-01-02 13:42:04,2024-01-02 13:48:39,1,1.58,1,N,229,263,2,9.3,0.0,0.5,0.00,0.0,1.0,13.30,2.5,0.0
99999,2,2024-01-02 13:54:12,2024-01-02 13:57:25,1,0.64,1,N,236,263,2,-5.8,0.0,-0.5,0.00,0.0,-1.0,-9.80,-2.5,0.0

In [17]:
t_start = time()
count = 1

for batch in batches_iterator:
    
    batch_df = batch.to_pandas()
    print(f"Inserting Batch {count}")
    b_start = time()
    
    batch_df.to_sql(name= 'ny_taxi_data', con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! Time taken: {b_end - b_start:10.3f} seconds')
    count += 1
    
t_end = time()
print(f'Total Time taken: {t_end - t_start:10.3f} seconds')

Inserting Batch 1
inserted! Time taken:      5.219 seconds
Inserting Batch 2
inserted! Time taken:      5.072 seconds
Inserting Batch 3
inserted! Time taken:      5.015 seconds
Inserting Batch 4
inserted! Time taken:      5.044 seconds
Inserting Batch 5
inserted! Time taken:      4.969 seconds
Inserting Batch 6
inserted! Time taken:      5.022 seconds
Inserting Batch 7
inserted! Time taken:      5.390 seconds
Inserting Batch 8
inserted! Time taken:      5.467 seconds
Inserting Batch 9
inserted! Time taken:      5.212 seconds
Inserting Batch 10
inserted! Time taken:      5.262 seconds
Inserting Batch 11
inserted! Time taken:      5.185 seconds
Inserting Batch 12
inserted! Time taken:      5.374 seconds
Inserting Batch 13
inserted! Time taken:      5.286 seconds
Inserting Batch 14
inserted! Time taken:      5.278 seconds
Inserting Batch 15
inserted! Time taken:      5.141 seconds
Inserting Batch 16
inserted! Time taken:      5.133 seconds
Inserting Batch 17
inserted! Time taken:      5.527 seconds
Inserting Batch 18
inserted! Time taken:      5.148 seconds
Inserting Batch 19
inserted! Time taken:      5.319 seconds
Inserting Batch 20
inserted! Time taken:      5.301 seconds
Inserting Batch 21
inserted! Time taken:      5.244 seconds
Inserting Batch 22
inserted! Time taken:      4.987 seconds
Inserting Batch 23
inserted! Time taken:      5.345 seconds
Inserting Batch 24
inserted! Time taken:      5.176 seconds
Inserting Batch 25
inserted! Time taken:      5.167 seconds
Inserting Batch 26
inserted! Time taken:      4.907 seconds
Inserting Batch 27
inserted! Time taken:      2.982 seconds
Total Time taken:    138.304 seconds